<h3 class="section-title" id="example-charts">
    <a class="fragment-link" href="#time-series-chart">
        Example Charts
    </a>
</h3>
<h4 class="section-title" id="time-series-chart">
    <a class="fragment-link" href="#time-series-chart">
        Time Series Chart
    </a>
</h4>
<p>
    An example of a plot using time series data, where the X axis represents the time and the Y axis is any arbitrary value.
</p>
{{ time_series_chart.as_html }}

<p>Code used for this example:</p>
{% include "code-examples/time_series_chart.html" with async=False %}

<h4 class="section-title" id="scatter-line-chart">
    <a class="fragment-link" href="#scatter-line-chart">
        Scatter &amp; Line Chart
    </a>
</h4>
<p>
    An example of a scatter plot combined with a line chart. Such a plot could for instance be used to visualize the moving average of scattered data.
</p>
{{ scatter_line_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/scatter_line_chart.html" with async=False %}

<h4 class="section-title" id="bar-chart">
    <a class="fragment-link" href="#bar-chart">
        Bar Chart
    </a>
</h4>
<p>
    A bar chart using one dataset.
</p>
{{ bar_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/bar_chart.html" with async=False %}

<h4 class="section-title" id="radar-chart">
    <a class="fragment-link" href="#radar-chart">
        Radar Chart
    </a>
</h4>
<p>
    A line chart is a way of plotting data points on a line. Often, it is used to show trend data, and the comparison of two data sets.
</p>
{{ radar_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/radar_chart.html" with async=False %}
<h4 class="section-title" id="polar-chart">
    <a class="fragment-link" href="#polar-chart">
        Polar Chart
    </a>
</h4>
<p>
    A line chart is a way of plotting data points on a line. Often, it is used to show trend data, and the comparison of two data sets.
</p>
{{ polar_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/polar_chart.html" with async=False %}

<h4 class="section-title" id="pie-chart">
    <a class="fragment-link" href="#pie-chart">
        Pie Chart
    </a>
</h4>
<p>
    A line chart is a way of plotting data points on a line. Often, it is used to show trend data, and the comparison of two data sets.
</p>
{{ pie_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/pie_chart.html" with async=False %}

<h4 class="section-title" id="bubble-chart">
    <a class="fragment-link" href="#bubble-chart">
        Bubble Chart
    </a>
</h4>
<p>
    A line chart is a way of plotting data points on a line. Often, it is used to show trend data, and the comparison of two data sets.
</p>
{{ bubble_chart.as_html }}
<p>
    Code:
</p>
{% include "code-examples/bubble_chart.html" with async=False %}
