<nav id="sidebar" class="bs-docs-sidebar" role="tablist">
    <ul class="nav nav-stacked">
        <li>
            <a href="#docs">Documentation</a>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#docs-installation">
                        Installation
                    </a>
                </li>
                <li>
                    <a href="#docs-frontend-deps">
                        Frontend Deps
                    </a>
                </li>

                <li>
                    <a href="#docs-chart-objects">
                        Chart Class
                    </a>
                </li>

                <li>
                    <a href="#docs-configuring-charts">
                        Configuring Charts
                    </a>
                </li>
                <li>
                    <a href="#docs-rendering-charts">
                        Rendering Charts
                    </a>
                </li>

                <li>
                    <a href="#docs-asynchronous-charts">
                        Asynchronous Charts
                    </a>
                </li>
                <li>
                    <a href="#docs-chart-parameterization">
                        Chart Parameterization
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#example-charts">Example Charts</a>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#time-series-chart">Time Series</a>
                </li>
                <li>
                    <a href="#scatter-line-chart">Scatter &amp; Line Chart</a>
                </li>
                <li>
                    <a href="#bar-chart">Bar Chart</a>
                </li>
                <li>
                    <a href="#radar-chart">Radar Chart</a>
                </li>
                <li>
                    <a href="#polar-chart">Polar Chart</a>
                </li>
                <li>
                    <a href="#pie-chart">Pie Chart</a>
                </li>
                <li>
                    <a href="#bubble-chart">Bubble Chart</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#examples-async">Async Examples</a>
            <ul class="nav nav-stacked">
                <li>
                    <a href="#async-time-series-chart">Time Series</a>
                </li>
                <li>
                    <a href="#async-scatter-line-chart">Scatter &amp; Line Chart</a>
                </li>
                <li>
                    <a href="#async-bar-chart">Bar Chart</a>
                </li>
                <li>
                    <a href="#async-radar-chart">Radar Chart</a>
                </li>
                <li>
                    <a href="#async-polar-chart">Polar Chart</a>
                </li>
                <li>
                    <a href="#async-pie-chart">Pie Chart</a>
                </li>
                <li>
                    <a href="#async-bubble-chart">Bubble Chart</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
