<pre><code class="language-python"># charts.py
from jchart import Chart
from jchart.config import Axes, DataSet, rgba

class BarChart(Chart):
    chart_type = 'bar'

    def get_labels(self, **kwargs):
        return ["January", "February", "March", "April",
                "May", "June", "July"]

    def get_datasets(self, **kwargs):
        data = [10, 15, 29, 30, 5, 10, 22]
        colors = [
            rgba(255, 99, 132, 0.2),
            rgba(54, 162, 235, 0.2),
            rgba(255, 206, 86, 0.2),
            rgba(75, 192, 192, 0.2),
            rgba(153, 102, 255, 0.2),
            rgba(255, 159, 64, 0.2)
        ]

        return [DataSet(label='Bar Chart',
                        data=data,
                        borderWidth=1,
                        backgroundColor=colors,
                        borderColor=colors)]{% if async %}

# urls.py
from demo import charts
from jchart.views import ChartView

urlpatterns = [
    url(r'^charts/bar_chart/$',
        ChartView.from_chart(charts.BarChart()),
        name='bar_chart'),
]

# Template.html
{&#37; render_chart 'bar_chart' &#37;}
{% endif %}</code></pre>