<pre><code class="language-python"># charts.py
from jchart import Chart
from jchart.config import Axes, DataSet, rgba

class BubbleChart(Chart):
    chart_type = 'bubble'

    def get_datasets(self, **kwargs):
        data = [{
            'x': randint(1, 10),
            'y': randint(1, 25),
            'r': randint(1, 10),
        } for i in range(25)]

        return [DataSet(label="First DataSet",
                        data=data,
                        backgroundColor='#FF6384',
                        hoverBackgroundColor='#FF6384')]{% if async %}

# urls.py
from demo import charts
from jchart.views import ChartView

urlpatterns = [
    url(r'^charts/bubble_chart/$',
        ChartView.from_chart(charts.BubbleChart()),
        name='bubble_chart'),
]

# Template.html
{&#37; render_chart 'bubble_chart' &#37;}
{% endif %}</code></pre>