<pre><code class="language-python"># charts.py
from jchart import Chart
from jchart.config import Axes, DataSet, rgba

class PieChart(Chart):
    chart_type = 'pie'

    def get_labels(self, **kwargs):
        return ["Red", "Blue", "Yellow"]

    def get_datasets(self, **kwargs):
        data = [300, 50, 100]
        colors = [
            "#FF6384",
            "#36A2EB",
            "#FFCE56"
        ]
        return [DataSet(data=data,
                        label="My Pie Data",
                        backgroundColor=colors,
                        hoverBackgroundColor=colors)]{% if async %}

# urls.py
from demo import charts
from jchart.views import ChartView

urlpatterns = [
    url(r'^charts/pie_chart/$',
        ChartView.from_chart(charts.PieChart()),
        name='pie_chart'),
]

# Template.html
{&#37; render_chart 'pie_chart' &#37;}
{% endif %}</code></pre>