<pre><code class="language-python"># charts.py
from jchart import Chart
from jchart.config import Axes, DataSet, rgba

class PolarChart(Chart):
    chart_type = 'polarArea'

    def get_labels(self, **kwargs):
        return ["Red", "Green", "Yellow", "Grey", "Blue"]

    def get_datasets(self, **kwargs):
        return [DataSet(label="My DataSet",
                        data=[11, 16, 7, 3, 14],
                        backgroundColor=[
                            "#FF6384",
                            "#4BC0C0",
                            "#FFCE56",
                            "#E7E9ED",
                            "#36A2EB"
                        ])
                ]{% if async %}

# urls.py 
from demo import charts
from jchart.views import ChartView

urlpatterns = [
    url(r'^charts/polar_chart/$',
        ChartView.from_chart(charts.PolarChart()),
        name='polar_chart')
]

# Template.html
{&#37; render_chart 'polar_chart' &#37;}
{% endif %}</code></pre>