<pre><code class="language-python"># charts.py
from jchart import Chart
from jchart.config import Axes, DataSet, rgba

class RadarChart(Chart):
    chart_type = 'radar'

    def get_labels(self):
        return ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"]

    def get_datasets(self, **kwargs):
        return [DataSet(label="My First dataset",
                        color=(179, 181, 198),
                        data=[65, 59, 90, 81, 56, 55, 40]),
                DataSet(label="My Second dataset",
                        color=(255, 99, 132),
                        data=[28, 48, 40, 19, 96, 27, 100])
                ]{% if async %}

# urls.py
from demo import charts
from jchart.views import ChartView

urlpatterns = [
    url(r'^charts/radar_chart/$',
        ChartView.from_chart(charts.RadarChart()),
        name='radar_chart')
]

# Template.html
{&#37; render_chart 'radar_chart' &#37;}
{% endif %}</code></pre>