<!DOCTYPE html>
<html>
<head>
    <title>Django-Charting - DEMO PAGE</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <nav class="hidden-print hidden-sm hidden-xs affix-top">
                <ul class="nav nav-stacked">
                    <li>
                        <a href="#time-series">Time Series</a>
                        <a href="#scatter-line-plot">Line Chart</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-10">
            <h3 id="time-series-chart">
                <a href="#time-series-chart">
                    Time Series Chart
                </a>
            </h3>
            {{ time_series_chart.as_html }}

            <h3 id="scatter-line-chart">
                <a href="#scatter-line-chart">
                    Scatter &amp; Line Chart
                </a>
            </h3>
            {{ scatter_line_chart.as_html }}

            <h3 id="bar-chart">
                <a href="#bar-chart">
                    Bar Chart
                </a>
            </h3>
            {{ bar_chart.as_html }}

            <h3 id="radar-chart">
                <a href="#radar-chart">
                    Radar Chart
                </a>
            </h3>
            {{ radar_chart.as_html }}

            <h3 id="polar-chart">
                <a href="#polar-chart">
                    Polar Chart
                </a>
            </h3>
            {{ polar_chart.as_html }}

            <h3 id="pie-chart">
                <a href="#pie-chart">
                    Pie Chart
                </a>
            </h3>
            {{ pie_chart.as_html }}

            <h3 id="bubble-chart">
                <a href="#bubble-chart">
                    Bubble Chart
                </a>
            </h3>
            {{ bubble_chart.as_html }}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</body>
</html>